
<div class="container">
          <section class="aboutme section">
						<div class="section-inner shadow-sm rounded">
							<h4 class="heading">{{'Aboutme.heading' | translate}}</h4>
							<div class="content">
								<p>{{ 'Aboutme.goal' | translate}}</p>
							 
							</div><!--//content-->
							
							<div>
							  <div class="heading">{{ 'Aboutme.overview' | translate}}</div>
							  <div class="content" [innerHTML]="'Aboutme.description' | translate">
								
							  </div>
							</div>								
						</div><!--//section-inner-->   
                        				
          </section>
</div>