<div class="container">
          <section class=" section">
						<div class="section-inner shadow-sm rounded">
							<h4 class="heading">{{'Techskills.heading' | translate }}</h4>
							<hr>
							
							<div class="heading">{{'Techskills.webtech' | translate }}</div>
							 <div class="skills-badges">
							   <span class="badge bg-primary">Angular</span>
							   <span class="badge bg-primary">Bootstrap</span>
							   <span class="badge bg-primary">Backbone js</span>
							   <span class="badge bg-primary">Handlebars</span>
							   <span class="badge bg-primary">Mustache</span>
							   <span class="badge bg-primary">Java Script</span>
							   <span class="badge bg-primary">JQuery</span>
							   <span class="badge bg-primary">HTML</span>
							   <span class="badge bg-primary">XSQL</span>
							   <span class="badge bg-primary">Ajax</span>
							   <span class="badge bg-primary">JSP</span>
							   <span class="badge bg-primary">Servlets</span>
							   <span class="badge bg-primary">REST</span>
							  </div>
							  <br>
							  <div class="heading">{{'Techskills.languages' | translate }}</div>
							 <div class="skills-badges">
							   <span class="badge bg-primary">JAVA(CORE)</span>
							   <span class="badge bg-primary">JDBC</span>
							  </div>
							  <br>
							  <div class="heading">{{'Techskills.tools' | translate }}</div>
							 <div class="skills-badges">
							   <span class="badge bg-primary">Eclipse</span>
							   <span class="badge bg-primary">Git</span>
							  </div>
							  <br>
							 <div class="heading">{{'Techskills.database' | translate }}</div>
							 <div class="skills-badges">
							   <span class="badge bg-primary">Oracle 9i</span>
							   <span class="badge bg-primary">SQL server 2005</span>
							   <span class="badge bg-primary">DB2 </span>
							   <span class="badge bg-primary">Google datastore(GQL)</span>
							  </div>
							  <br>
							 <div class="heading">{{'Techskills.frameworks' | translate }}</div>
							 <div class="skills-badges">
							   <span class="badge bg-primary">MVC </span>
							   <span class="badge bg-primary">MVVM</span>
							   <span class="badge bg-primary">Google appengine </span>
							 
							  </div>
							  
							<!-- <div class="tech-bars"> -->

							  <!-- <div class="tech-bars-skill">Bootstrap</div> -->
							   <!-- <div class="progress"> -->
								  <!-- <div class="progress-bar" style="width:85%"></div> -->
							  <!-- </div> -->
							   <!-- <div class="tech-bars-skill">HTML,CSS,Java Script</div> -->
							   <!-- <div class="progress"> -->
								  <!-- <div class="progress-bar" style="width:80%"></div> -->
							  <!-- </div> -->
							  
							<!-- </div> -->
							
							<!-- progress-bar end--> 
							<!-- <br> -->
							
							<!-- <div class="content">	 -->
									 
									 <!-- <div class="heading">{{'Techskills.webtech' | translate }}</div> -->
										 <!-- <p> Angular, Angular js, Bootstap CSS, Backbone js, Handlebars, Mustache, Java Script, JQuery,	XSQL, Ajax, HTML, JSP, Servlets and REST </p> -->
									 <!-- <div class="heading">{{'Techskills.languages' | translate }}</div> -->
								         <!-- <p>JAVA(CORE), JDBC</p> -->
								     <!-- <div class="heading">{{'Techskills.tools' | translate }}</div> -->
								         <!-- <p>Eclipse, Git</p> -->
									 <!-- <div class="heading">{{'Techskills.database' | translate }}</div> -->
								         <!-- <p>Oracle 9i , SQL server 2005, DB2 ,Google datastore(GQL)</p>	  -->
								     <!-- <div class="heading">{{'Techskills.frameworks' | translate }}</div> -->
								         <!-- <p> MVC Customized Framework , Google appengine</p> -->
								
							<!-- </div>--><!--//content--> 
						</div><!--//section-inner-->                 
          </section>
</div>
