<div class="container">
          <section class="aboutme section">
						<div class="section-inner shadow-sm rounded">
							<h4 class="heading">Technical Skills</h4>
							<div class="content">
								
								<!--progress bars-->
								<!-- <h6 class="heading">Frontend</h6> -->
								<!-- <div class=""> -->
								   <!-- <div class="">Angular</div> -->
								   <!-- <div class="progress"> -->
									  <!-- <div class="progress-bar" role="progressbar" style="width: 75%" -->
									  <!-- aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div> -->
									<!-- </div> -->
									<!-- <br> -->
									 <!-- <div class="">Mustache,Handlebars</div> -->
								   <!-- <div class="progress"> -->
									  <!-- <div class="progress-bar" role="progressbar" style="width: 75%" -->
									  <!-- aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div> -->
									<!-- </div> -->
									<!-- <br> -->
									<!-- <div class="">Bootstap CSS</div> -->
								   <!-- <div class="progress"> -->
									  <!-- <div class="progress-bar" role="progressbar" style="width: 70%" -->
									  <!-- aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div> -->
									<!-- </div> -->
									<!-- <br>									 -->
									<!-- <div class="">Backbone js</div> -->
								   <!-- <div class="progress"> -->
									  <!-- <div class="progress-bar" role="progressbar" style="width: 65%" -->
									  <!-- aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div> -->
									<!-- </div> -->
									<!-- <br> -->
									
									<!-- <h6 class="heading">Backend</h6> -->
									  <!-- <div class="">JAVA(CORE),JDBC </div> -->
										   <!-- <div class="progress"> -->
											  <!-- <div class="progress-bar" role="progressbar" style="width: 75%" -->
											  <!-- aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div> -->
											<!-- </div> -->
											<!-- <br> -->
											
										  
								  <!-- </div> -->
								<!--progress bars-->
								
								<!--Skill content-->
								
									 
									 <div class="heading">Web Technologies</div>
										 <p>JSP, Servlets, REST, Backbone js ,Angular js ,Java   Script , JQuery ,  
														 XSQL, Ajax,  HTML, Mustache, Handlebars, and Bootstap CSS</p>
									 <div class="heading">Languages</div>
								         <p>JAVA(CORE), JDBC</p>
								     <div class="heading">Tools</div>
								         <p>Eclipse, Git</p>
									 <div class="heading">Databases</div>
								         <p>Oracle 9i , SQL server 2005, DB2 ,Google datastore(GQL)</p>	 
								     <div class="heading">Frameworks</div>
								         <p>Eclipse, GitMVC Customized Framework , Google appengine</p>
								<!--Skill content-- -->
								
								<!-- <div class="table-responsive" style="overflow: hiddeFrameworksn;"> -->
										<!-- <table class="table table-sm table-borderless"> -->
										   <!-- <tbody> -->
										      <!-- <tr> -->
												<!-- <th>Web Technologies: </th> -->
												<!-- <td>JSP, Servlets, REST, Backbone js ,Angular js ,Java   Script , JQuery ,   -->
			                                     <!-- XSQL, Ajax,  HTML, Mustache, Handlebars, and Bootstap CSS -->
			                                     <!-- </td> -->
											  <!-- </tr> -->
											  <!-- <tr> -->
												<!-- <th>Languages: </th> -->
												<!-- <td>JAVA(CORE), JDBC</td> -->
											  <!-- </tr> -->
											   <!-- <tr> -->
												<!-- <th>Tools: </th> -->
												<!-- <td>Eclipse, Git</td> -->
											  <!-- </tr> -->
											   <!-- <tr> -->
												<!-- <th>Databases: </th> -->
												<!-- <td>Oracle 9i , SQL server 2005, DB2 ,Google datastore(GQL)</td> -->
											  <!-- </tr> -->
											
											   <!-- <tr> -->
												<!-- <th>Frameworks: </th> -->
												<!-- <td>MVC Customized Framework , Google appengine</td> -->
											  <!-- </tr> -->
											  <!-- <tr> -->
												<!-- <th>Environments: </th> -->
												<!-- <td>JBOSS 4.0, Apache Tomcat</td> -->
											  <!-- </tr> -->
							              <!-- </tbody> -->
										 <!-- </table> -->
								<!-- </div> -->
								
							</div><!--//content-->
						</div><!--//section-inner-->                 
          </section>
</div>
