<div class="container">
          <section class="project section">
						<div class="section-inner shadow-sm rounded">
							<h4 class="heading">{{"Projects.projectshandled"| translate}}</h4>
							<hr>
							<div class="content">
							
                                  <!-- <div class="heading">{{"Projects.projectname"| translate}}</div> -->
										 <!-- <div>RaviMitra CV </div> -->
								     <div class="heading">{{"Projects.softwaretools"| translate}}</div>
								         <div>Angular, Bootstrap, HTML5, CSS, CSS3</div>									
								     <!-- <div class="heading">{{"Projects.role"| translate}}</div> -->
								         <!-- <div>Senior Developer</div> -->
                                     <br>
									 <div class="description">
									     <div class="heading">{{"Projects.description"| translate}}</div>
										<p>{{"Projects.ravimitracv.descp"| translate}}</p>
									 </div>
									 <div class="responsebility">
									   <div class="heading" style=""> {{"Projects.responsibilities"| translate}}</div>
									  <div [innerHTML]="'Projects.ravimitracv.res' | translate"></div>							   
									 </div>
									
							</div><!--//content Resume-->
							
						
							<hr>
							
							<div class="content">
							    
                                  <div class="heading">{{"Projects.projectname"| translate}}</div>
										 <div> AMEX-GCE-HYD(OPEN) </div>
									 <div class="heading">{{"Projects.client"| translate}}</div>
								         <div>American Express</div>
									 <div class="heading">{{"Projects.softwaretools"| translate}}</div>
								         <div>Jquery, JavaScript, Ajax,CSS, CSS3, HTML, HTML5</div>	 
								     <div class="heading">{{"Projects.role"| translate}}</div>
								         <div>Senior Developer</div>
                                       <div class="heading">{{"Projects.duration"| translate}}</div>
								         <div>{{"Projects.amex.period"| translate}}</div>
							           <br>
										 <div class="description">
									     <div class="heading">{{"Projects.description"| translate}}</div>
										<p>{{"Projects.amex.descp"| translate}}</p>
									 </div>
									 <div class="responsebility">
									   <div class="heading" style=""> {{"Projects.responsibilities"| translate}} </div>
									  <div [innerHTML]="'Projects.amex.res' | translate"></div>								   
									 </div>
							    
							</div><!--//content Amex-->
							<hr>
								<div class="content">
							    
                                  <div class="heading">{{"Projects.projectname"| translate}}</div>
										 <div> Mdot </div>
									 <div class="heading">{{"Projects.client"| translate}}</div>
								         <div>Western Union</div>
									 <div class="heading">{{"Projects.softwaretools"| translate}}</div>
								         <div>Jquery, Jquery Mobile, JavaScript, Ajax, Structs,CSS, CSS3, HTML, HTML5</div>	 
								     <div class="heading">{{"Projects.role"| translate}}</div>
								         <div>Senior Developer</div>
                                       <div class="heading">{{"Projects.duration"| translate}}</div>
								         <div>{{"Projects.mdot.period"| translate}}</div>
							           <br>
									 <div class="description">
									     <div class="heading">{{"Projects.description"| translate}}</div>
										<p>{{"Projects.mdot.descp"| translate}}</p>
									 </div>
									 <div class="responsebility">
									   <div class="heading" style=""> {{"Projects.responsibilities"| translate}} </div>
									    <div [innerHTML]="'Projects.mdot.res' | translate"></div>
									 </div>
							    
							</div><!--//content Mdot-->
							<hr>
							
								<div class="content">
							    
                                  <div class="heading">{{"Projects.projectname"| translate}}</div>
										 <div> App360 </div>
									 <div class="heading">{{"Projects.client"| translate}}</div>
								         <div>MetLife</div>
									 <div class="heading">{{"Projects.softwaretools"| translate}}</div>
								         <div>Jquery, JavaScript, Ajax, Share Point 2010, MS SQL Server 2008, Bootstrap</div>	 
								     <div class="heading">{{"Projects.role"| translate}}</div>
								         <div>Programmer Analyst </div>
                                       <div class="heading">{{"Projects.duration"| translate}}</div>
								         <div><p>{{"Projects.app360.period"| translate}}</p></div>
							           <br>
									 <div class="description">
									     <div class="heading">{{"Projects.description"| translate}}</div>
										<p>{{"Projects.app360.descp"| translate}}</p>
									 </div>
									 <div class="responsebility">
									   <div class="heading" style=""> {{"Projects.responsibilities"| translate}} </div>
									   <div [innerHTML]="'Projects.app360.res' | translate"></div>
									  								   
									 </div>
							    
							</div><!--//content App360-->
							<hr>
									<div class="content">
							    
                                  <div class="heading">{{"Projects.projectname"| translate}}</div>
										 <div> ClickDesk(Helpdesk ticketing System) </div>
									 <div class="heading">{{"Projects.softwaretools"| translate}}</div>
								         <div>JDK1.6, Servlets, JSP,  JQuery,  Ajax, Javascript, Backbone JS, Bootstrap CSS, RWD, REST and Google App Engine</div>	 
								     <div class="heading">{{"Projects.role"| translate}}</div>
								         <div>Software Engineer </div>
                                       <div class="heading">{{"Projects.duration"| translate}}</div>
								         <div>{{"Projects.clickdesk.period"| translate}}</div>
							           <br>
									 <div class="description">
									     <div class="heading">{{"Projects.description"| translate}}</div>
										<p>{{"Projects.clickdesk.descp"| translate}}</p>
									 </div>
									 <div class="responsebility">
									   <div class="heading" style=""> {{"Projects.responsibilities"| translate}} </div>
									   <div [innerHTML]="'Projects.clickdesk.res' | translate"></div>							   
									 </div>
							    
							</div><!--//content ClickDesk -->
							<hr>
							<div class="content">    
								
								    <div class="heading">{{"Projects.projectname"| translate}}</div>
										 <div> KESIP </div>
									 <div class="heading">{{"Projects.client"| translate}}</div>
								         <div>KESIP, Afghanistan</div>
									 <div class="heading">{{"Projects.softwaretools"| translate}}</div>
								         <div>CORE JAVA, J2EE, DB2, SQL, AJAX, XML, XSQL, XSL, iText,TOAD 4.0 for DB2, JBOSS 4.0, Eclipse 3.2, VSS 2005</div>	 
								     <div class="heading">{{"Projects.role"| translate}}</div>
								         <div>Programmer Analyst</div>
                                       <div class="heading">{{"Projects.duration"| translate}}</div>
								         <div>{{"Projects.kesip.period"| translate}}</div>
							           <br>
									 <div class="description">
									     <div class="heading">{{"Projects.description"| translate}}</div>
										<p>{{"Projects.kesip.descp"| translate}} </p>
									 </div>
									 <div class="responsebility">
									   <div class="heading" style=""> {{"Projects.responsibilities"| translate}} </div>
									    <div [innerHTML]="'Projects.kesip.res' | translate"></div>								   
									 </div>
				    
							</div><!--//content KESIP -->
							<hr>
							<div class="content">
							    <div class="heading">{{"Projects.projectname"| translate}}</div>
										 <div> KESCO </div>
									 <div class="heading">{{"Projects.client"| translate}}</div>
								         <div>KESCO, Kanpur</div>
									 <div class="heading">{{"Projects.softwaretools"| translate}}</div>
								         <div>CORE JAVA, J2EE, ORACLE 10g, SQL, PL SQL, AJAX, XML, XSQL,   
                                     XSL,XSLT, TOAD , JBOSS 3.0, Eclipse 3.1, Rapid SVN </div>	 
								     <div class="heading">{{"Projects.role"| translate}}</div>
								         <div>Programmer Analyst</div>
                                       <div class="heading">{{"Projects.duration"| translate}}</div>
								         <div>{{"Projects.kesco.period"| translate}}</div>
							           <br>
									 <div class="description">
									     <div class="heading">{{"Projects.description"| translate}}</div>
										<p> {{"Projects.kesco.descp"| translate}}</p>
									 </div>
									 <div class="responsebility">
									   <div class="heading" style=""> {{"Projects.responsibilities"| translate}} </div>
									   <div [innerHTML]="'Projects.kesco.res' | translate"></div>								   
									 </div>
                              
							    
							</div><!--//content KESCO -->
							
							
						</div><!--//section-inner-->                 
          </section>
</div>