<div class="container">
          <section class="project section">
						<div class="section-inner shadow-sm rounded">
							<h4 class="heading">Projects</h4>
							<div class="content">								
									<div class="table-responsive">
										<table class="table table-sm table-borderless">
										   <tbody>
											  <tr>
												<th>Project Name: </th>
												<td>AMEX-GCE-HYD(OPEN)</td>
											  </tr>
											  <tr>
												<th>Client:</th>
												<td>American Express</td>
											  </tr>
											  <tr>
												<th>Software/Tools:</th>
												<td>Jquery, JavaScript, Ajax,CSS, CSS3, HTML, HTML5</td>
											  </tr>
											  <tr>
												<th>Role:</th>
												<td>Senior Developer</td>
											  </tr>
											  <tr>
												<th>Duration:</th>
												<td>June 2015 to Sep 2015</td>
											  </tr>
										   </tbody>
										 </table>
									 </div>
									 <div class="description">
									     <div class="heading">Description:</div>
										<p>OPEN from American Express (“OPEN”) offers small business owners a wide range of tools, services and savings designed to meet their evolving needs, including : charge and credit cards ,  discounts at select suppliers of business services and products, including airline tickets, car rentals, hotel stays, package shipping, computer and software equipment, telecommunications, printing and photocopying services and other business services, enhanced online account management capabilities retail and travel protections such as baggage insurance and travel services.</p>
									 </div>
									 <div class="responsebility">
									   <div class="heading" style=""> Responsibilities: </div>
									   <p>Implementing the responsive web pages as per the screen shots provided by the client using HTML, HTML5, CSS and CSS3.</p>
									   <p>Developed the Growth Partner landing site and implemented the changes required by the client for the existing OPEN.COM site.</p>
									   <p>Functionality developed using jQuery and OO JavaScript.</p>
									   <p>Developing responsive pages using html5</p>
									   <p>Code-Reviews and Optimization of the code for quick response.</p>								   
									 </div>
							</div><!--//content 1-->
							<div class="content">
							    <div>
								
								</div>
							    
							</div><!--//content 1-->
							
						</div><!--//section-inner-->                 
          </section>
</div>