<div class="container ">
   <section class=" contact-section " >
						
						
			<div class="section-inner shadow-sm  contact-header row ">
			            <div class="col-sm-1">
						</div>
						 <div class="col-sm-2">						  
								<img src="./assets/images/my_photo.jpg" class="rounded img-fluid mx-auto d-block contact-img">
						</div>	
							<div class=" col-sm-8 ">
							 <div class="row contact-details-row">
							   <div class="col-md-6 ">
								    <ul class="list-unstyled details-name"  > 
									 <li> <h3 class=" contact-name" > RaviMitra Yenumula</h3>
									 </li><li> <h4 class="contact-jobtitle" >{{'Contact.jobtitle' | translate }} </h4>
								   </li></ul>
								 </div>
								<div class="col-md-6 ">
								<ul class="list-unstyled contact-details " >
								 <li> <i class="bi bi-telephone-fill icon-padding-right"></i>+31-619175405</li>
								 <li><i class="bi bi-envelope-fill icon-padding-right"></i><a target="_blank" href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=ravimitra.annem@gmail.com">ravimitra.annem@gmail.com</a></li>
								 <!-- <li><i class="bi bi-globe icon-padding-right"></i><a target="_blank" href="https://ravimitracv.herokuapp.com/" >Web Curculimvita</a></li> -->
								 <li><i class="bi bi-house-fill icon-padding-right"></i> 
                                     Netherlands</li>
								</ul>
								</div>
							 </div>
							</div><!--//content-->
			
			</div><!--//section-inner-->  	
			
          </section>
		  
</div>


