<div class="container">
          <section class="aboutme section">
						<div class="section-inner shadow-sm rounded">
							<h4 class="heading">Contact Me</h4>
							<div class="content">
								<ul class="list-unstyled">
								 <li> <i class="bi bi-telephone-fill icon-padding-right"></i>+31-619175405</li>
								 <li><i class="bi bi-envelope-fill icon-padding-right"></i><a target="_blank" href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=ravimitra.annem@gmail.com">ravimitra.annem@gmail.com</a></li>
								 <li><i class="bi bi-house-fill icon-padding-right"></i>43C, Woenselse Markt, 
                                     5612CS, Eindhoven </li>
								</ul>
							 
							</div><!--//content-->
						</div><!--//section-inner-->                 
          </section>
</div>


