<div class="container">
          <section class=" section">
						<div class="section-inner shadow-sm rounded">
							<h4 class="heading">{{'Languages.heading' | translate }}</h4>
							<div class="content">	
									 
									 <div class="">English</div>
										 
									 <div class="">Hindi</div>
								        
								     <div class="">Telugu</div>
								        
								  
							</div><!--//content-->
						</div><!--//section-inner-->                 
          </section>
</div>
