<div class="container">
          <section class=" section">
						<div class="section-inner shadow-sm rounded">
							<h4 class="heading">{{'Languages.heading' | translate }}</h4>
							<hr>
							<div class="content">	
									 
									 <div class="skills-badges"> <span class="badge bg-primary">English</span><span class="badge bg-primary">Hindi</span><span class="badge bg-primary">Telugu</span></div>
								        
								  
							</div><!--//content-->
						</div><!--//section-inner-->                 
          </section>
</div>
