<div class="container">
          <section class="organization section">
						<div class="section-inner shadow-sm rounded">
							<h4 class="heading">Organization</h4>
							<div class="row">
							<div class="col-sm-6">
							<h6>Cognizant Technology Solutions,<small >Hyderabad</small></h6>
							</div>
							<div class="col-sm-6">
                                      <ul class="list-unstyled"><li>Programmer Analyst</li>
									       <li>Feb 2014 to Nov 2016</li>
									      
									   </ul>
							</div>
							</div>
							<div class="row">
							<div class="col-sm-6">
							<h6 >Mantra Technologies Pvt. Ltd ,<small>Hyderabad</small></h6>
							</div>
							<div class="col-sm-6">
                                      <ul class="list-unstyled"><li>Software Engineer</li>
									       <li>Aug 2012 to Nov 2013</li>
									      
									   </ul>
							</div>
							</div>
							<div class="row">
							<div class="col-sm-6">
							<h6>Phoenix IT Solutions ,<small>Visakhapatnam</small></h6>
							</div>
							<div class="col-sm-6">
                                      <ul class="list-unstyled"><li>Programmer Analyst</li>
									       <li>June 2009 to Dec 2011</li>
									      
									   </ul>
							</div>
							</div>
						
						</div><!--//section-inner-->                 
          </section>
</div>