<div class="container">
          <section class="organization section">
						<div class="section-inner shadow-sm rounded">
							<h4 class="heading">{{'Organization.heading'|translate}}</h4>
							<hr>
							<div class="row">
							<div class="col-sm-6">
							<h6>Cognizant Technology Solutions , <small >Hyderabad</small></h6>
							</div>
	
							<div class="col-sm-6">
                                      <ul class="list-unstyled"><li>Programmer Analyst</li>
									       <li>{{'Organization.cognizantPeriod'|translate}}</li>
									      
									   </ul>
							</div>
							</div>
							<div class="row">
							<div class="col-sm-6">
							<h6 >Mantra Technologies Pvt. Ltd , <small>Hyderabad</small></h6>
							</div>
							<div class="col-sm-6">
                                      <ul class="list-unstyled"><li>Software Engineer</li>
									       <li>{{'Organization.mantraPeriod'|translate}}</li>
									      
									   </ul>
							</div>
							</div>
							<div class="row">
							<div class="col-sm-6">
							<h6>Phoenix IT Solutions , <small>Visakhapatnam</small></h6>
							</div>
							<div class="col-sm-6">
                                      <ul class="list-unstyled"><li>Programmer Analyst</li>
									       <li>{{'Organization.phoenixPeriod'|translate}}</li>
									      
									   </ul>
							</div>
							</div>
						
						</div><!--//section-inner-->                 
          </section>
</div>