/* You can add global styles to this file, and also import other style files */
body {
    font-family: "Roboto", sans-serif;
    color: #545E6C;
    background: #f5f5f5;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
.section .section-inner {
    background: #fff;
    padding: 30px;
}

.section{
	padding: 10px;
}


.navbar-bg-color {
	background-color: #42A8C0;
}

.navbar-bg-color a,.nav-radio{
	color:#ffff!important;
	font-family: ui-serif;
}

.navbar-bg-color a:hover{
	color:#201e1e!important;
	font-weight:bold;
}

.navbar-bg-color .nav-container .navbar-collapse .navbar-nav .active a {
       font-weight: bold!important;
        color:#201e1e!important;	   
    }

    .nav-radio{		
		padding-top: 0.5em;  
	}
	
.city,.organization h6 small{
	color: #6c757d87!important;
}

.organisation{
	font-size : medium;
}

.organization h6{
	font-size : 15.5px;;
}


.heading{
	/* color: #212529; */
	color: #42A8C0;
    font-weight: bold;
}

.icon-padding-right{
	padding-right: 10px;
}

.contact-header {
    background: #196d83 !important;
    color: white;
    padding-top: 1.5em;
}	

.contact-name{
	 font-family: 'Montserrat', sans-serif;
	 font-weight: 700;
}

.contact-jobtitle{
	font-family: 'Lato', arial, sans-serif;
	font-weight: 600;
	color: #cedde2;
}

.details-name,.contact-details{
	font-size: initial;
	padding-left:revert;
}

.contact-jobtitle,.contact-details,.contact-details a{
   color: #cedde2;
}

.contact-img{
	height:110px;
	}
	
@media (max-width: 991px) and (min-width: 600px) {

	.contact-name {
		font-size : 17px;
	}
    
	.contact-jobtitle {
		font-size : 16px;
	}
	
	.contact-details {
		font-size: 11px;
   }
   
   .contact-img{
	height:90px;
	}
	
}

.tech-bars .progress{
	height:10px;
}

.tech-bars-skill{
	padding-top:10px;
}

.skills-badges span{
	margin-right:5px;
	font-size: 0.85em;
	background-color: #42A8C0!important;
}


.form-check-input:checked {
    background-color: #196d83;
    border-color: #42A8C0;
}

/* .nav-container .form-switch .form-check-input {   */
    /* background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e)!important; */
/* } */


.nav-container .form-switch .form-check-input:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='grey'/%3e%3c/svg%3e");
}