/* You can add global styles to this file, and also import other style files */
body {
    font-family: "Roboto", sans-serif;
    color: #545E6C;
    background: #f5f5f5;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}
.section .section-inner {
    background: #fff;
    padding: 30px;
}

.navbar-bg-color {
	background-color: #42A8C0;
}

.navbar-bg-color a,.nav-radio{
	color:#ffff!important;
	font-family: ui-serif;
}

.navbar-bg-color a:hover{
	color:#201e1e!important;
	font-weight:bold;
}

.navbar-bg-color .nav-container .navbar-collapse .navbar-nav .active a {
       font-weight: bold!important;
        color:#201e1e!important;	   
    }

    .nav-radio{		
		padding-top: 0.5em;  
	}
	
.organization h6 small{
	color: #6c757d87!important;
}

.heading{
	/* color: #212529; */
	color: #42A8C0;
    font-weight: bold;
}

.icon-padding-right{
	padding-right: 10px;
}

.section{
	padding: 20px;
}

.contact-header {
    background: #196d83 !important;
    color: white;
    padding-top: 1em;
}	